canvas {
    border: 1px solid black;
}

body {
    margin: 0;
}

.container {
    padding: 80px 150px;
    background: #fff;
    border: 1px solid #696968;
    border-top: 4px solid #9d3c3c;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.35);
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
}

canvas {
    margin-left: 10%;
    margin-right: 10%;
}